<div #loading>
  <app-loader></app-loader>
</div>


<app-header inputHeaderCartItems="{{cartItems.length}}"></app-header>
<div class="grid-container">
	<div class="grid-x align-center">
		<div class="small-12 medium-8 large-12 cell">
			<span class="sitePath">
				<nav aria-label="You are here:" role="navigation">
				  <ul class="breadcrumbs">
				    <li><a href="#" routerLink="/">Home</a></li>
				    <li><a href="#" routerLink="/productCategory">Products</a></li>
				    <li><a href="#" routerLink="/checkout">Cart</a></li>
				    <li class="disabled">checkout</li>
				  </ul>
				</nav>
			</span>
		</div>
	</div>
	<div class="grid-x grid-padding-x align-center">
		<div class="small-12 medium-8 cell">
			<div class="addressHeader">Delivery Address</div>
			<div class="addressOuterContainer">
				<mat-radio-group>
					<div class="clearfix addressContainer" *ngFor="let address of addressDetail">
						<div class="float-left">
							<!-- .mat-radio-label - align-items:center --change this property to get the radio button to be at top align with text -->
						  <mat-radio-button value="{{address.is_default}}" (change)="changeDefaultAddress(address.id)">
						  	<div>{{address.flat_number | titlecase}}</div>
						  	<div>{{address.area | titlecase}}</div>
						  	<div>{{address.city | titlecase}} - {{address.pin_code}} {{address.state | titlecase}}</div>
						  	<!-- <div>Mobile - +91-9967758592</div> -->
						  </mat-radio-button>
					    </div>
					    <div class="float-right">
							<button class="button secondary secondaryBtn" (click)="showModalToAddAddress('Edit',address)">EDIT</button>
				  		</div>
			  		</div>
				    <!-- <div class="clearfix addressContainer">
					    <div class="float-left">
						  	<mat-radio-button value="2">
							  	<div>Abhilash Bhargava</div>
							  	<div>K-6 Ashok Marg C-Scheme</div>
							  	<div>Opposite BSNL Office</div>
							  	<div>Jaipur - 302001</div>
							  	<div>Mobile - +91-9967758592</div>
						    </mat-radio-button>
				  		</div>
				  	
					  	<div class="float-right">
							<button class="button secondary secondaryBtn" data-open="addressUpdate" (click)="showModalToAddAddress('Edit')">EDIT</button>
					  	</div>
				  	</div> -->
				</mat-radio-group>
			</div>
			<div class="clearfix addAddressContainer">
				<button class="button secondary float-right secondaryBtn" (click)="showModalToAddAddress('Add','noAddress')">+ ADD ADDRESS</button>
			</div>


			<div class="reveal addressModalOuterContainer" id="addressUpdate" data-reveal *ngIf="getUserDetails">
				<div class="grid-container addressModalContainer">
				<div class="text-center addressModalHeader">ADDRESS</div>
				<form [formGroup]="addressForm">
				  	<div class="grid-container">
				  		<!-- <div class="grid-x grid-padding-x">
						  	<div class="small-6 cell text-center">
								<mat-form-field class="addressFormField">
								    <input matInput placeholder="First Name" formControlName="firstName">
								    <mat-error *ngIf="addressForm.controls['firstName'].hasError('required')">
							     		First Name is <strong>required</strong>
							    	</mat-error>
								</mat-form-field>
							</div>

							<div class="small-6 cell text-center">
								<mat-form-field class="addressFormField">
								    <input matInput placeholder="Last Name" formControlName="lastName">
								    <mat-error *ngIf="addressForm.controls['lastName'].hasError('required')">
							     		Last Name is <strong>required</strong>
							    	</mat-error>
								</mat-form-field>
							</div>
					  	</div>	
 						-->

					  	<div class="grid-x grid-padding-x">
							<div class="medium-12 cell text-center">
						  		<mat-form-field class="addressFormField">
								    <input matInput placeholder="Code ( Pin or Postal )" formControlName="pin_code">
								    <mat-error *ngIf="addressForm.controls['pin_code'].hasError('required')">
							     		Pin code is <strong>required</strong>
							    	</mat-error>
							    	<mat-error *ngIf="addressForm.controls['pin_code'].invalid && addressForm.controls['pin_code'].dirty && !addressForm.controls['pin_code'].hasError('required')">
								      Pin Code is <strong> not valid</strong>
								    </mat-error>
								</mat-form-field>
						  	</div>
					  	</div>
					  	<div class="grid-x grid-padding-x">
					  		<div class="medium-12 cell text-center">
								<mat-form-field class="addressFormField">
								    <input matInput placeholder="Flat No / Building / Road" formControlName="flat_number">
								    <mat-error *ngIf="addressForm.controls['flat_number'].hasError('required')">
							     		Flat number is <strong>required</strong>
							    	</mat-error>
								</mat-form-field>
							</div>
					  	</div>
						<div class="grid-x grid-padding-x">
						  	<div class="medium-12 cell text-center">
								<mat-form-field class="addressFormField">
								    <input matInput placeholder="Area / Locality / Landmark" formControlName="area">
								    <mat-error *ngIf="addressForm.controls['area'].hasError('required')">
							     		Area is <strong>required</strong>
							    	</mat-error>
								</mat-form-field>
							</div>
						</div>
					  	<div class="grid-x grid-padding-x">
						  	<div class="medium-6 cell text-center">
						  		<mat-form-field class="addressFormField">
								    <input matInput placeholder="City" formControlName="city">
						        	<mat-error *ngIf="addressForm.controls['city'].hasError('required')">
								     		City is <strong>required</strong>
								    	</mat-error>
						        </mat-form-field>
							</div>
							<div class="medium-6 cell text-center">
						  		<mat-form-field class="addressFormField">
								    <input matInput placeholder="State" formControlName="state">
									<mat-error *ngIf="addressForm.controls['state'].hasError('required')">
							     		State Name is <strong>required</strong>
							    	</mat-error>
								</mat-form-field>
						  	</div>
						</div>
						<div class="grid-x grid-padding-x">
						  	<div class="medium-12 cell text-center">
						  		<mat-form-field class="addressFormField">
								    <input matInput placeholder="Country" formControlName="type">
									<mat-error *ngIf="addressForm.controls['type'].hasError('required')">
							     		Country Name is <strong>required</strong>
							    	</mat-error>
								</mat-form-field>
						  	</div>
						</div>
						<div class="grid-x grid-padding-x">
							<div class="medium-12 cell">
								<mat-radio-group formControlName="is_default">
									<mat-radio-button>Set as Default</mat-radio-button>
								</mat-radio-group>
							</div>
					    </div>
						<div class="grid-x grid-padding-x">
							<div class="medium-5 cell text-right">
								<input type="button" class="button" data-close value="CANCEL">
							</div>
							<div class="medium-5 cell text-center">
								<!-- <button type="submit" class="button submitButton" [disabled]="uploadForm.invalid"> Submit </button> -->
								<button type="submit" class="button" data-close aria-label="Close modal" (click)="onAddAddressSubmit(addressForm)" [disabled]="addressForm.invalid">SAVE</button>
							</div>
						</div>
				  	</div>
				</form>
				<button class="close-button closeAddressModal" data-close aria-label="Close modal" type="button">
				    <span aria-hidden="true">&times;</span>
				</button>
			  </div>
		  </div>
		</div>

		<div class="small-12 medium-8 cell text-center hide-for-large" *ngIf="contentLoaded && (cartItems.length > 0)">
			<button class="button expanded primaryBtn" (click)="payNow()">Place Order</button>
		</div>
		<div class="small-12 medium-4 cell show-for-large" *ngIf="contentLoaded && (cartItems.length > 0)">
			<div [ngClass]="{'scrollBar' : cartItems.length > 1 }">
				<div class="deliveryDetailsHeader">Delivery Details</div>
				<div *ngFor="let cart_item of cartItems; let index=index">
					<div class="grid-x grid-padding-y">
						<div class="medium-3 cell">
							<img *ngIf="cart_item.product.main_image" src="{{cart_item.product.main_image}}" alt="Bought Product">
						</div>
						<div class="medium-9 cell">
							<div class="deliveryItemDetails">
								<div>{{cart_item.product.name}}</div>
								<div class="grid-x selectedProductDetail">
									<div class="medium-6 cell">
										Quantity
									</div>
									<div class="medium-6 cell">
										{{ cart_item.qty }}
									</div>
								</div>
								<div class="grid-x selectedProductDetail">
									<div class="medium-6 cell">
										Size
									</div>
									<div class="medium-6 cell">
										{{ cart_item.size }}
									</div>
								</div>
								<div class="grid-x selectedProductDetail">
									<div class="medium-6 cell">
										Fit
									</div>
									<div class="medium-6 cell">
										{{ cart_item.fit_name }}
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>	
			
			<div class="orderSummaryOuterContainer">
				<div class="orderSummaryHeader">ORDER SUMMARY</div>
				<div class="orderSummaryContentContainer">
					<div class="clearfix orderSummaryContent">
						<span class="float-left">Sub Total</span>
						<span class="float-right">{{(locType == 'INR' ? 'Rs. ': '$') + itemTotal}}</span>
					</div>
					<!-- <div class="clearfix orderSummaryContent">
						<span class="float-left">Discount</span>
						<span class="float-right">- Rs. 1000</span>
					</div> -->
					<div class="clearfix orderSummaryContent">
						<span class="float-left">Shipping Charges</span>
						<span class="float-right">+ {{(locType == 'INR' ? 'Rs. ': '$') + shippingTotal}}</span>
					</div>
				</div>
				<div class="clearfix orderSummaryContentResult">
					<span class="float-left">Total</span>
					<span class="float-right">{{(locType == 'INR' ? 'Rs. ': '$') + grandTotal }}</span>
				</div>
				<div class="clearfix starConditions">
					<span class="float-right">*GST included</span>
				</div>
				<div class="text-center">
					<button class="button expanded primaryBtn" (click)="payNow()">Place Order</button>
				</div>
			</div>
		</div>
		<div class="small-12 medium-4 cell" *ngIf="contentLoaded && (cartItems.length == 0)"> No Items added to the Cart.
		</div>
	</div>
</div>
<app-payment-footer></app-payment-footer>