@import '../../../assets/foundation-sites/global';

$scrollColor:#C4A56A;

.addressHeader {
	border-bottom: 1px solid #dcdcdc;
	text-transform: uppercase;
}

.addressOuterContainer {
	border-bottom: 1px solid #dcdcdc;
	
	.addressContainer {
		padding-top: rem-calc(10);

		&:last-of-type {
			padding-bottom: rem-calc(10);
		}
	}
}

.orderSummaryHeader {
	padding: rem-calc(10 0);	
	border-bottom: 1px solid #dcdcdc;
}

.orderSummaryContentContainer {
  padding: rem-calc(0 20);
  border-bottom: 1px solid #dcdcdc;
}

.orderSummaryContent {
	padding: rem-calc(10 0);
}

.orderSummaryContentResult {
	padding: rem-calc(10 20);	
}

.starConditions {
	padding: rem-calc(0 20 10 0);
}

.primaryBtn {
	border-radius: rem-calc(20);
}

.secondaryBtn {
	border-radius: rem-calc(20);
	color: $white;
}

.scrollBar {
	height: rem-calc(190);
	overflow-y: scroll;
} 

.scrollBar::-webkit-scrollbar
{
	width: rem-calc(12);
	background-color: #F5F5F5;
}

.scrollBar::-webkit-scrollbar-thumb
{
	border-radius: rem-calc(10);
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: $scrollColor;
}

.deliveryDetailsHeader {
	text-transform: uppercase;
}

.deliveryItemDetails {
	padding-left: rem-calc(10);
}

.addAddressContainer {
	padding-top: rem-calc(15);
}
.orderSummaryOuterContainer {
	padding-top: rem-calc(50);	
}
::ng-deep label.mat-radio-label {
	align-items: initial;
}
::ng-deep .mat-radio-container {
	margin-top: rem-calc(5);
}
.selectedProductDetail {
	padding-top: rem-calc(15);
}
.addressModalHeader {
    font-size:rem-calc(28);
    padding-bottom: rem-calc(15);
}
.addressFormField {
	width: 100%;
}
.reveal.addressModalOuterContainer {
	overflow: visible;
}
.closeAddressModal {
    position: absolute;
    top: rem-calc(-14);
    right: rem-calc(-14);
    color: white;
    background-color: $primary-color;
    border-radius: 25px;
    padding: rem-calc(3 7 5);
    z-index: 9999;
    font-size: rem-calc(20);
}
.addressModalContainer {
	padding: rem-calc(30 50);
}