@import '../../../assets/foundation-sites/global';

.footerCategoryContainer { 
	font-family: Helvetica-light, Roboto, Sans-serif;
}
.footerCategoryHeader {
	font-family: Helvetica, Roboto, Sans-serif;	
	font-weight: 200;
	font-size: 30px;
}
.footerCategory {
	padding-bottom: rem-calc(5);
	cursor: pointer;
}
.footerCategoryEnd {
	padding-bottom: rem-calc(5);
}