<div class="grid-container">
  <div class="grid-x">
    <div class="small-3 cell">
      <h3 class="footerCategoryHeader">About Us</h3>
      <div class="footerCategoryContainer">
        <div class="" routerLink="/aboutUs">A bit about us</div>
        <div class="" routerLink="/faq">FAQ</div>
      </div>
    </div>
    <div class="small-3 cell">
      <h3 class="footerCategoryHeader">Our Policy</h3>
      <div class="footerCategoryContainer">
        <div class="" routerLink="/shippingPolicy">Shipping</div>
        <div class="" routerLink="/shippingPolicy">Returns</div>
        <div class="" routerLink="/sizeGuide">Size Guide</div>
      </div>
    </div>
    <div class="small-3 cell">
      <h3 class="footerCategoryHeader">Your Order</h3>
      <div class="footerCategoryContainer">
        <div class="">My Account</div>
        <div class="">Order Status</div>
        <div class="">Request a Return</div>
      </div>
    </div>
    <div class="small-3 cell">
      <h3 class="footerCategoryHeader">Contact Us</h3>
      <div class="footerCategoryContainer">
        <div class="">Monday-Friday 9:00am - 5:00pm IST</div>
        <div class="">Contact - +91-9799558592</div>
        <div class="">Email - contact@dorcee.com</div>
      </div>
    </div>
  </div>
</div>
<app-payment-footer></app-payment-footer>