<div class="grid-container">
  <div class="grid-x">
    <div class="small-3 cell">
      <span class="footerCategoryHeader">About Us</span>
      <div class="footerCategoryContainer">
        <div class="footerCategory" routerLink="/aboutUs">A bit about us</div>
        <div class="footerCategory" routerLink="/faq">FAQ</div>
      </div>
    </div>
    <div class="small-3 cell">
      <span class="footerCategoryHeader">Our Policy</span>
      <div class="footerCategoryContainer">
        <div class="footerCategory" routerLink="/shippingPolicy">Shipping</div>
        <div class="footerCategory" routerLink="/shippingPolicy">Returns</div>
        <div class="footerCategory" routerLink="/sizeGuide">Size Guide</div>
      </div>
    </div>
    <div class="small-3 cell">
      <span class="footerCategoryHeader">Your Order</span>
      <div class="footerCategoryContainer">
        <div class="footerCategory" routerLink="/profile">My Account</div>
        <div class="footerCategory" routerLink="/myOrders">Order Status</div>
        <div class="footerCategory" routerLink="/myOrders">Request a Return</div>
      </div>
    </div>
    <div class="small-3 cell">
      <span class="footerCategoryHeader">Contact Us</span>
      <div class="footerCategoryContainer">
        <div class="footerCategoryEnd">Monday-Friday 9:00am - 5:00pm IST</div>
        <div class="footerCategoryEnd">Contact - +91-9799558592</div>
        <div class="footerCategoryEnd">Email - contact@dorcee.com</div>
      </div>
    </div>
  </div>
</div>
<app-payment-footer></app-payment-footer>