<div [ngStyle]="{'display':loading === 'true' ? 'flex' : 'none' }">
  <app-loader></app-loader>
</div>

<app-header></app-header>
<app-login></app-login>

<div class="grid-container">
	<div class="grid-x">
		<div class="small-12 cell">
			<span class="sitePath">
				<nav aria-label="You are here:" role="navigation">
					<ul class="breadcrumbs">
				    <!-- <li><a href="#">Men</a></li>
				    <li><a href="#">Shirts</a></li>
				    <li><a href="#">Printed</a></li> -->
				    <li><a href="#" routerLink="/">Home</a></li>
				    <li><a href="#" routerLink="/productCategory">Products</a></li>
				    <li class="disabled" *ngIf="productDetail">{{productDetail.name}}</li>
				    <!-- <li>
				      <span class="show-for-sr">Current: </span>
				  </li> -->
				</ul>
			</nav>
		</span>
	</div>
</div>
<div class="grid-x grid-padding-x grid-padding-y" *ngIf="containerLoaded && productDetail">
	<div class="small-12 medium-7 cell">
		<div class="productDetailImagesContainer">
			<img *ngIf="productDetail.main_image" src="{{productDetail.main_image}}">
			<img *ngIf="productDetail.thumbnail_1" src="{{productDetail.thumbnail_1}}">
			<img *ngIf="productDetail.thumbnail_2" src="{{productDetail.thumbnail_2}}">
			<img *ngIf="productDetail.thumbnail_3" src="{{productDetail.thumbnail_3}}">
			<img *ngIf="productDetail.thumbnail_4" src="{{productDetail.thumbnail_4}}">
			<img *ngIf="productDetail.thumbnail_5" src="{{productDetail.thumbnail_5}}">
			<img *ngIf="productDetail.thumbnail_6" src="{{productDetail.thumbnail_6}}">
		</div>
	</div>
	<div class="small-12 medium-5 cell">
		<div class="productName">
			{{productDetail?.name}}
		</div>
		<div class="pricingContainer">
			<!-- <span class="itemOriginalPrice itemDiscounted">{{(loc_type == indian_location) ? 'RS. '+productDetail?.INR?.base_price : '$' + productDetail?.USD?.base_price}}</span> -->
			<span class="itemDiscountedPrice">{{productDetail.price}}</span>
			<!-- <span class="itemDiscountPercent">50% OFF</span> -->
		</div>
		<div class="sizingContainer">
			<div class="sizingInnerContainer">
				<div class="sizingHeaders clearfix">
					<span class="float-left">Select Your Size:</span>
					<span class="float-right sizeChartModal" data-open="sizeChart">Size Chart</span>
				</div>
				<div class="reveal" id="sizeChart" data-reveal>
					<h3 class="text-center">Size Chart</h3>
					<div class="grid-x">
						<div class="medium-6 cell text-center">
							<h4>Size(US)</h4>
							<!-- <div>S</div> -->
							<div>M</div>
							<div>L</div>
							<div>XL</div>
							<div>XXL</div>
							<div>XXXL</div>
						</div>
						<div class="medium-6 cell text-center">
							<h4>Chest</h4>
							<!-- <div>35" - 37"</div> -->
							<div>38" - 40"</div>
							<div>41" - 43"</div>
							<div>44" - 46"</div>
							<div>47" - 49"</div>
							<div>50" - 52"</div>
						</div>
					</div>
					<button class="close-button" data-close aria-label="Close modal" type="button">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>

				<!-- <div class="sizeSelectorContainer">
					<div *ngFor="let size of sizesToShow">
						<div *ngIf="size.key=='Ave'">
							<a class="sizeSelector" [ngClass]="{'selectedSize': selectedSize == size}" (click)="selectedSize = size">
								{{ size.value }}
							</a>	
						</div>
						<div *ngIf="size.key=='NotAve'">
							<a class="sizeSelector" [ngClass]="{'disabledSize' : size.key=='NotAve' }" disable>
								{{ size.value }}
							</a>	
						</div>
					</div>

				</div> -->

				<div class="sizeSelectorContainer">
					<div *ngFor="let size of allSizes">
						<a class="sizeSelector" [ngClass]="{'selectedSize': selectedSize === size}" (click)="sizeSelected(size)" *ngIf="(sizesAvailable | find: size) let find_size">
							{{ size.value }}
						</a>
						<a class="sizeSelector disabledSize" *ngIf="!(sizesAvailable | find: size) let find_size">
							{{ size.value }}
						</a>
					</div>  	
				</div>
			</div>
		</div>
		<div class="fitContainer">
			<div class="fitHeaders clearfix">
				<span class="float-left">Select Your fit:</span>
			</div>

			<div class="fitSelectorContainer">
				<span *ngFor="let fit of allFits">
					<a class="fitSelector" [ngClass]="{'selectedFit': selectedFit === fit}" (click)="fitSelected(fit)" *ngIf="(fitsAvailable | find:fit ) let find_fit">
						{{fit.name }}
					</a>

					<a class="fitSelector disabledFit" *ngIf="!(fitsAvailable | find:fit ) let find_fit">
						{{fit.name }}
					</a>
				</span>  	
			</div>
			<div class="productButtonsContainer clearfix">
				<!-- <span class="wishlistContainer">
					<button class="button float-left secondary secondaryBtn">
						<img src="../assets/images/like.svg" class="productDecisionImgBtn">Wishlist
					</button>
				</span> -->
				<span class="addToBagContainer">
					<button class="button float-right primaryBtn" (click)="addToCart(productDetail.id)">
						<img src="../assets/images/emptyShoppingBagWhite.svg" class="productDecisionImgBtn">Add To bag
					</button>
				</span>
			</div>

			<div class="errorMessageContainer">
				<div class="errorMessage" *ngIf="sizeAcceptance==false">
					<div>
						Please select your size.
					</div>
				</div>
				<div class="errorMessage" *ngIf="fitAcceptance==false">
					<div>
						Please select your fit.
					</div>
				</div>
			</div>
		</div>
		<ul class="accordion productDetailContainer" data-accordion data-allow-all-closed="true">
			<li class="accordion-item" data-accordion-item>
				<a class="accordion-title">Product Details</a>

				<div class="accordion-content" data-tab-content>
					<p>{{productDetail?.description}}</p>
				</div>
			</li>
			<li class="accordion-item" data-accordion-item>
				<a class="accordion-title">Delivery & Returns</a>

				<div class="accordion-content" data-tab-content>
					<p>To know about the delivery and Return policy for our products, <a href="/shippingPolicy">click here.</a></p>
				</div>
			</li>
		</ul>
	</div>
</div>
<div class="grid-x grid-padding-x grid-padding-y align-center flash-error" *ngIf="containerLoaded && !productDetail">
	Product not available
</div>
	<!-- <div class="grid-x align-center">
		<div class="small-12 medium-6 text-center"><h3>You May Also Like</h3></div>
	</div>

	<div class="grid-x grid-padding-x grid-padding-y">
		<div class="small-3 cell image-hover-wrapper">
    	<div class="productImageSlideContainer">
        <img src="../assets/images/homepage-images/pic1.png" routerLink="/productDetail">
        <img src="../assets/images/homepage-images/pic2.png" routerLink="/productDetail">
        <img src="../assets/images/homepage-images/pic1.png" routerLink="/productDetail">
        <img src="../assets/images/homepage-images/pic2.png" routerLink="/productDetail">
        <img src="../assets/images/homepage-images/pic1.png" routerLink="/productDetail">
        <img src="../assets/images/homepage-images/pic2.png" routerLink="/productDetail">
      </div>
	    <div class="alsoLikeProductDetailContainer text-center">
	    	<div class="alsoLikeProductDetail">
	    		<div class="productName">Double Layered Shirt</div>
	    		<div class="fitCategory">Regular FIt</div>
	    	</div>
	    	<div class="alsoLikeProductPrice">
	    		<span class="originalPrice itemDiscounted">$98.00</span>
	    		<span class="itemDiscountedPrice">$49.00</span>
	    	</div>
	    </div>
	  </div>
	  <div class="small-3 cell image-hover-wrapper">
    	<div class="productImageSlideContainer">
        <img src="../assets/images/homepage-images/pic1.png" routerLink="/productDetail">
        <img src="../assets/images/homepage-images/pic2.png" routerLink="/productDetail">
        <img src="../assets/images/homepage-images/pic1.png" routerLink="/productDetail">
        <img src="../assets/images/homepage-images/pic2.png" routerLink="/productDetail">
        <img src="../assets/images/homepage-images/pic1.png" routerLink="/productDetail">
        <img src="../assets/images/homepage-images/pic2.png" routerLink="/productDetail">
      </div>
	    <div class="alsoLikeProductDetailContainer text-center">
	    	<div class="alsoLikeProductDetail">
	    		<div class="productName">Double Layered Shirt</div>
	    		<div class="fitCategory">Regular FIt</div>
	    	</div>
	    	<div class="alsoLikeProductPrice">
	    		<span class="originalPrice itemDiscounted">$98.00</span>
	    		<span class="itemDiscountedPrice">$49.00</span>
	    	</div>
	    </div>
	  </div>
	  <div class="small-3 cell image-hover-wrapper">
    	<div class="productImageSlideContainer">
        <img src="../assets/images/homepage-images/pic1.png" routerLink="/productDetail">
        <img src="../assets/images/homepage-images/pic2.png" routerLink="/productDetail">
        <img src="../assets/images/homepage-images/pic1.png" routerLink="/productDetail">
        <img src="../assets/images/homepage-images/pic2.png" routerLink="/productDetail">
        <img src="../assets/images/homepage-images/pic1.png" routerLink="/productDetail">
        <img src="../assets/images/homepage-images/pic2.png" routerLink="/productDetail">
      </div>
	    <div class="alsoLikeProductDetailContainer text-center">
	    	<div class="alsoLikeProductDetail">
	    		<div class="productName">Double Layered Shirt</div>
	    		<div class="fitCategory">Regular FIt</div>
	    	</div>
	    	<div class="alsoLikeProductPrice">
	    		<span class="originalPrice itemDiscounted">$98.00</span>
	    		<span class="itemDiscountedPrice">$49.00</span>
	    	</div>
	    </div>
	  </div>
	  <div class="small-3 cell image-hover-wrapper">
    	<div class="productImageSlideContainer">
        <img src="../assets/images/homepage-images/pic1.png" routerLink="/productDetail">
        <img src="../assets/images/homepage-images/pic2.png" routerLink="/productDetail">
        <img src="../assets/images/homepage-images/pic1.png" routerLink="/productDetail">
        <img src="../assets/images/homepage-images/pic2.png" routerLink="/productDetail">
        <img src="../assets/images/homepage-images/pic1.png" routerLink="/productDetail">
        <img src="../assets/images/homepage-images/pic2.png" routerLink="/productDetail">
      </div>
	    <div class="alsoLikeProductDetailContainer text-center">
	    	<div class="alsoLikeProductDetail">
	    		<div class="productName">Double Layered Shirt</div>
	    		<div class="fitCategory">Regular FIt</div>
	    	</div>
	    	<div class="alsoLikeProductPrice">
	    		<span class="originalPrice itemDiscounted">$98.00</span>
	    		<span class="itemDiscountedPrice">$49.00</span>
	    	</div>
	    </div>
	  </div>
	</div> -->
</div>
<app-footer></app-footer>
