<app-header></app-header>
<!-- <div class="grid-x">
	<div class="medium-6 cell text-left">
		
	</div>
	<div class="medium-6 cell text-right">
		<mat-form-field>
		  <mat-select [(value)]="selected">
		    <mat-option>None</mat-option>
		    <mat-option value="option1">Option 1</mat-option>
		    <mat-option value="option2">Option 2</mat-option>
		    <mat-option value="option3">Option 3</mat-option>
		  </mat-select>
		</mat-form-field>
	</div>

</div> -->
<div class="grid-container" *ngIf="containerLoaded">
	<div class="grid-x grid-padding-x">
		<div class="medium-3 cell">
			<div class="productCategoryOuterContainer">
				<div class="productSelectorHeading">Category</div>
				<ul class="vertical menu accordion-menu" data-accordion-menu>
					<li class="productCategoryAccordionHeader" *ngFor="let category of categories">
						<a (click)="getProducts('category', category.name)">{{category.name}}</a>
						<ul class="menu vertical nested is-active productCategoryAccordionContent">
							<li *ngFor="let type of category.types">
								<a (click)="getProducts('type', type)">{{type}}</a></li>
							<li><a href="#">View All</a></li>
						</ul>
					</li>
				</ul>
			</div>
			<div class="productFitOuterContainer">
				<div class="productSelectorHeading">Fit</div>
				<div class="productSelectorSubHeading">
					<div class="fitCategoryContainer">
						<mat-checkbox class="fitCategorySelector" *ngFor="let fit of fits">{{fit.name}}</mat-checkbox>
					</div>
				</div>
			</div>
			<div class="productSizeOuterContainer">
				<div class="productSelectorHeading">Size</div>
				<div class="productSelectorSubHeading">
					<div class="sizeCategoryContainer">
						<div class="grid-x">
							<div class="small-6 medium-3 cell">
								<mat-checkbox class="sizeCategorySelector">S</mat-checkbox>
							</div>
							<div class="small-6 medium-9 cell">
								<mat-checkbox class="sizeCategorySelector">XL</mat-checkbox>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- <div class="productPriceOuterContainer">
				<div class="productSelectorHeading">Price</div>
				<div class="productSelectorSubHeading">
					<div class="">
					</div>
				</div>
			</div> -->
		</div>
		<div class="medium-9 cell">
			<!-- <div class="" *ngFor="let response of productsResponse | paginate: { itemsPerPage: 5, currentPage: p }"> -->
			<div class="grid-x grid-padding-x grid-padding-y">
				<div *ngFor="let product of products"  class="medium-4 cell">
					<div class="image-hover-wrapper">
						<!-- <a href="javascript:void(0)">
							<img *ngIf="product.main_image" src="{{product.main_image}}"routerLink="/productDetail">
							<span class="image-hover-wrapper-reveal">
								<a routerLink="/productDetail" class="button viewProductBtn">View Product</a>
							</span>
						</a> -->
					</div>
					<div class="productImageSlideContainer">
				        <img *ngIf="product.main_image" src="{{product.main_image}}" (click)="goToProductDetailPage(product.id)">
						<img *ngIf="product.thumbnail_1" src="{{product.thumbnail_1}}" (click)="goToProductDetailPage(product.id)">
						<img *ngIf="product.thumbnail_2" src="{{product.thumbnail_2}}" (click)="goToProductDetailPage(product.id)">
						<img *ngIf="product.thumbnail_3" src="{{product.thumbnail_3}}" (click)="goToProductDetailPage(product.id)">
						<img *ngIf="product.thumbnail_4" src="{{product.thumbnail_4}}" (click)="goToProductDetailPage(product.id)">
						<img *ngIf="product.thumbnail_5" src="{{product.thumbnail_5}}" (click)="goToProductDetailPage(product.id)">
						<img *ngIf="product.thumbnail_6" src="{{product.thumbnail_6}}" (click)="goToProductDetailPage(product.id)">
			      	</div>
					<div class="alsoLikeProductDetailContainer text-center">
						<div class="alsoLikeProductDetail">
							<div class="productName">{{product.name}}</div>
							<div class="fitCategory">{{product.category}}</div>
						</div>
						<div class="alsoLikeProductPrice">
							<!-- <span class="originalPrice itemDiscounted">$98.00</span> -->
							<span class="discountedPrice">Rs {{product.price_inr}}</span>
						</div>
					</div>
				</div>
			</div>		
			<!-- <pagination-controls (pageChange)="p=$event"></pagination-controls> -->
		</div>
	</div>
</div>
<app-footer></app-footer>