<div #loading>
  <app-loader></app-loader>
</div>

<app-header inputHeaderCartItems="{{cartItems.length}}"></app-header>
<!-- <div class="grid-x">
	<div class="medium-6 cell text-left">
		
	</div>
	<div class="medium-6 cell text-right">
		<mat-form-field>
		  <mat-select [(value)]="selected">
		    <mat-option>None</mat-option>
		    <mat-option value="option1">Option 1</mat-option>
		    <mat-option value="option2">Option 2</mat-option>
		    <mat-option value="option3">Option 3</mat-option>
		  </mat-select>
		</mat-form-field>
	</div>

</div> -->

<div class="grid-container" *ngIf="containerLoaded">
	<div class="grid-x">
		<div class="small-6 medium-12 cell">
			<span class="sitePath">
				<nav aria-label="You are here:" role="navigation">
				  <ul class="breadcrumbs">
				    <li><a href="#" routerLink="/">Home</a></li>
				    <li class="disabled">Products</li>
				  </ul>
				</nav>
			</span>
		</div>

		<div class="small-6 cell text-right show-for-small-only">
			<a data-open="filterModal">
				<img src="../../../assets/images/filter.svg" alt="Filter icon">
			</a>
		</div>
	</div>
	<div class="grid-x grid-padding-x">
		<div class="reveal" id="filterModal" data-reveal>
		    <div class="filterModalContainer">
			  	<div class="productCategoryOuterContainer">
					<div class="productSelectorHeading">Category</div>
					<ul class="vertical menu accordion-menu productSelectorSubHeading" data-accordion-menu>
						<li class="productCategoryAccordionHeaderContainer" *ngFor="let category of categories">
							<div class="productCategoryAccordionHeader">{{category.name}}</div>
							<ul class="menu vertical nested is-active productCategoryAccordionContent">
								<li *ngFor="let type of category.types">
									<mat-checkbox class="typeCategorySelector" (change)="getProducts($event,'type', type,'small')" #filterCategoryType>{{type}}</mat-checkbox>
								</li>
								<li>
									<mat-checkbox class="typeCategorySelector" (change)="getProducts($event,'','','small'); selectedList($event)" #viewAllBtn>View All</mat-checkbox>
								</li>
							</ul>
						</li>
					</ul>
				</div>
				<div class="productFitOuterContainer">
					<div class="productSelectorHeading">Fit</div>
					<div class="productSelectorSubHeading">
						<div class="fitCategoryContainer" *ngFor="let fit of fits">
							<mat-checkbox (change)="getProducts($event,'fit', fit.value,'small')" class="fitCategorySelector">{{fit.name}}</mat-checkbox>
						</div>
					</div>
				</div>
				<div class="productSizeOuterContainer">
					<div class="productSelectorHeading">Size</div>
					<div class="productSelectorSubHeading">
						<div class="sizeCategoryContainer" *ngFor="let size of sizes">
							<mat-checkbox class="sizeCategorySelector" (change)="getProducts($event,'size', size.value,'small')">{{size.value}}</mat-checkbox>
						</div>
					</div>
				</div>
				<!-- <div class="productPriceOuterContainer">
					<div class="productSelectorHeading">Price</div>
					<div class="productSelectorSubHeading">
						<div class="">
						</div>
					</div>
				</div> -->
				<div class="grid-x grid-padding-x">
					<div class="small-6 cell text-center">
						<button class="button customBtn" (click)="closeFilterModal()" data-close aria-label="Close modal">Apply</button>
					</div>
					<div class="small-6 cell">
						<button class="button customBtn" (click)="closeFilterModal()" data-close aria-label="Close modal">Cancel</button>
					</div>
				</div>
		    </div>
		  <button class="close-button" (click)="closeFilterModal()" data-close aria-label="Close modal" type="button">
		    <span aria-hidden="true">&times;</span>
		  </button>
		</div>

		<div class="medium-3 cell hide-for-small-only">
			<div class="productCategoryOuterContainer">
				<div class="productSelectorHeading">Category</div>
				<ul class="vertical menu accordion-menu productSelectorSubHeading" data-accordion-menu>
					<li class="productCategoryAccordionHeaderContainer" *ngFor="let category of categories">
						<div class="productCategoryAccordionHeader">{{category.name}}</div>
						<ul class="menu vertical nested is-active productCategoryAccordionContent">
							<li *ngFor="let type of category.types">
								<mat-checkbox class="typeCategorySelector" (change)="getProducts($event,'type', type)" #filterCategoryType>{{type}}</mat-checkbox>
							</li>
							<li>
								<mat-checkbox class="typeCategorySelector" (change)="getProducts($event); selectedList($event)" #viewAllBtn>View All</mat-checkbox>
							</li>
						</ul>
					</li>
				</ul>
			</div>
			<div class="productFitOuterContainer">
				<div class="productSelectorHeading">Fit</div>
				<div class="productSelectorSubHeading">
					<div class="fitCategoryContainer" *ngFor="let fit of fits">
						<mat-checkbox (change)="getProducts($event,'fit', fit.value)" class="fitCategorySelector">{{fit.name}}</mat-checkbox>
					</div>
				</div>
			</div>
			<div class="productSizeOuterContainer">
				<div class="productSelectorHeading">Size</div>
				<div class="productSelectorSubHeading">
					<div class="sizeCategoryContainer" *ngFor="let size of sizes">
						<mat-checkbox class="sizeCategorySelector" (change)="getProducts($event,'size', size.value)">{{size.value}}</mat-checkbox>
					</div>
				</div>
			</div>
			<!-- <div class="productPriceOuterContainer">
				<div class="productSelectorHeading">Price</div>
				<div class="productSelectorSubHeading">
					<div class="">
					</div>
				</div>
			</div> -->
		</div>
		<div class="small-12 medium-9 cell">
			<div class="grid-x grid-padding-x productViewSection">
				<div class="small-12 cell text-center noProductText" *ngIf="noProduct">
					Sorry, There are no products in this category.
				</div>
				<div *ngFor="let product of products | paginate: { itemsPerPage: 12, currentPage: p }"  class="small-10 medium-6 large-4 cell">
					<div class="productContainer">
						<!-- <div class="image-hover-wrapper">
							<a href="javascript:void(0)">
								<img *ngIf="product.main_image" src="{{product.main_image}}"routerLink="/productDetail">
								<span class="image-hover-wrapper-reveal">
									<a routerLink="/productDetail" class="button viewProductBtn">View Product</a>
								</span>
							</a> 
						</div>-->
						<div class="productImageSlideContainer" id="slider{{product.id}}">
					
			        <img *ngIf="product.main_image" src="{{product.main_image}}" (mouseenter)="changeStyle($event,product.id)" (mouseleave)="changeBackStyle($event,product.id)" class="productImage">
							
							<img *ngIf="product.thumbnail_1" src="{{product.thumbnail_1}}" (mouseenter)="changeStyle($event,product.id)" (mouseleave)="changeBackStyle($event,product.id)" class="productImage">
							
							<img *ngIf="product.thumbnail_2" src="{{product.thumbnail_2}}" (mouseenter)="changeStyle($event,product.id)" (mouseleave)="changeBackStyle($event,product.id)" class="productImage">
							
							<img *ngIf="product.thumbnail_3" src="{{product.thumbnail_3}}" (mouseenter)="changeStyle($event,product.id)" (mouseleave)="changeBackStyle($event,product.id)" class="productImage">
							
							<img *ngIf="product.thumbnail_4" src="{{product.thumbnail_4}}" (mouseenter)="changeStyle($event,product.id)" (mouseleave)="changeBackStyle($event,product.id)" class="productImage">
							
							<img *ngIf="product.thumbnail_5" src="{{product.thumbnail_5}}" (mouseenter)="changeStyle($event,product.id)" (mouseleave)="changeBackStyle($event,product.id)" class="productImage">
							
							<img *ngIf="product.thumbnail_6" src="{{product.thumbnail_6}}" (mouseenter)="changeStyle($event,product.id)" (mouseleave)="changeBackStyle($event,product.id)" class="productImage">
						</div>	

						<a class="alsoLikeProductDetailContainer text-center" (click)="goToProductDetailPage(product.id)">
							<div class="alsoLikeProductDetail">
								<span class="productName">{{product.name}}</span>
								<div class="fitCategory">{{product.category}}</div>
							</div>
							<div class="alsoLikeProductPrice">
								<!-- <span class="originalPrice itemDiscounted">{{(loc_type == indian_location) ? 'RS.' : '$'}} {{product.base_price}}</span> -->
								<span class="originalPrice">{{(loc_type == indian_location) ? 'RS.' : '$'}} {{product.price}}</span>
							</div>
						</a>
					</div>
				</div>
			</div>		
			<div class="grid-x grid-padding-x paginationSection">
				<div class="small-12 text-right">
					<pagination-controls (pageChange)="p=$event" directionLinks="true" responsive="true" previousLabel="Previous" nextLabel="Next" responsive="true"></pagination-controls>	
				</div>
			</div>
		</div>

	</div>
</div>
<app-footer></app-footer>