<div #loading>
  <app-loader></app-loader>
</div>

<div class="callout text-center minDeliveryHeader" data-closable>
  <button class="close-button closeDeliveryInfo" aria-label="Close alert" type="button" data-close>
    <span aria-hidden="true">&times;</span>
  </button>
  <p>Free Shipping to all the cities in India on order above Rs. 2000</p>
</div>
<app-home-page-header inputCartItems="{{cartItems.length}}" (isUserLoggedInToFooter)="userLoggingInDetail($event)"></app-home-page-header>
  <div class="grid-x">
    <!-- <div class="grid-x grid-padding-y grid-padding-x">
      <div class="small-12 medium-6 cell">
        <img src="../assets/images/homepage-images/rect1.png" routerLink="/productCategory">
      </div>
      <div class="small-12 medium-6 cell">
        <div class="grid-y grid-padding-y">
          <div class="small-12 cell">
            <img src="../assets/images/homepage-images/rect2.png" routerLink="/productCategory">
          </div>
          <div class="small-12 cell">
            <img src="../assets/images/homepage-images/rect3.png" routerLink="/productCategory">
          </div>
        </div>
      </div>
    </div>
    <div class="grid-x grid-padding-y grid-padding-x">
      <div class="small-12 medium-6 cell">
        <div class="grid-y grid-padding-y">
          <div class="small-12 cell">
            <img src="../assets/images/homepage-images/rect2.png" routerLink="/productCategory">
          </div>
          <div class="small-12 cell">
            <img src="../assets/images/homepage-images/rect3.png" routerLink="/productCategory">
          </div>
        </div>
      </div>
      <div class="small-12 medium-6 cell">
        <img src="../assets/images/homepage-images/rect1.png" routerLink="/productCategory">
      </div>
    </div> -->
    <div class="small-12 cell">
      <div class="homePageSlick">
        <div class="homepageBanner">
          <img src="../assets/images/homepage-images/backgroundImages/ajrak.png" routerLink="/productCategory">
        </div>
        <div class="homepageBanner">
          <img src="../assets/images/homepage-images/backgroundImages/batik.png" routerLink="/productCategory">
        </div>
        <div class="homepageBanner">
          <img src="../assets/images/homepage-images/backgroundImages/handloomTextured.png" routerLink="/productCategory">
        </div>
        <div class="homepageBanner">
          <img src="../assets/images/homepage-images/backgroundImages/ikat.png" routerLink="/productCategory">
        </div>
        <div class="homepageBanner">
          <img src="../assets/images/homepage-images/backgroundImages/indigo.png" routerLink="/productCategory">
        </div>
        <div class="homepageBanner">
          <img src="../assets/images/homepage-images/backgroundImages/kalamkari.png" routerLink="/productCategory">
        </div>
        <div class="homepageBanner">
          <img src="../assets/images/homepage-images/backgroundImages/lizzyBizzy.png" routerLink="/productCategory">
        </div>
      </div>
    </div>
  </div>
  <div class="grid-container" *ngIf="products.length > 0">
    <ul class="tabs text-center tabsContainer" data-tabs id="promotionalTabs">
      <li class="tabs-title tabs-title-category is-active">
        <div class="newArrivalHeader">NEW ARRIVAL</div>
      </li>
      <!-- <li class="tabs-title tabs-title-category">
        <a href="#topSalePanel">TOP SALE</a>
      </li>
      <li class="tabs-title tabs-title-category">
        <a href="#saleOffPanel">SALE OFF</a>
      </li> -->
    </ul>
    <div class="tabs-content tabsContentContainer" data-tabs-content="promotionalTabs">
      <div class="tabs-panel is-active">
        <div class="grid-x grid-padding-x">
          <div *ngFor="let product of products" class="small-6 medium-4 large-3 cell image-hover-wrapper">
            <div class="productImageSlideContainer" id="slider{{product.id}}">
              
              <img *ngIf="product.main_image" src="{{product.main_image}}" (click)="goToProductDetailPage(product.id)" (mouseover)="changeStyle($event,product.id)" (mouseout)="changeBackStyle($event,product.id)" class="productImage">
              
              <img *ngIf="product.thumbnail_1" src="{{product.thumbnail_1}}" (click)="goToProductDetailPage(product.id)" (mouseover)="changeStyle($event,product.id)" (mouseout)="changeBackStyle($event,product.id)" class="productImage">
              
              <img *ngIf="product.thumbnail_2" src="{{product.thumbnail_2}}" (click)="goToProductDetailPage(product.id)" (mouseover)="changeStyle($event,product.id)" (mouseout)="changeBackStyle($event,product.id)" class="productImage">
              
              <img *ngIf="product.thumbnail_3" src="{{product.thumbnail_3}}" (click)="goToProductDetailPage(product.id)" (mouseover)="changeStyle($event,product.id)" (mouseout)="changeBackStyle($event,product.id)" class="productImage">
              
              <img *ngIf="product.thumbnail_4" src="{{product.thumbnail_4}}" (click)="goToProductDetailPage(product.id)" (mouseover)="changeStyle($event,product.id)" (mouseout)="changeBackStyle($event,product.id)" class="productImage">
              
              <img *ngIf="product.thumbnail_5" src="{{product.thumbnail_5}}" (click)="goToProductDetailPage(product.id)" (mouseover)="changeStyle($event,product.id)" (mouseout)="changeBackStyle($event,product.id)" class="productImage">
              
              <img *ngIf="product.thumbnail_6" src="{{product.thumbnail_6}}" (click)="goToProductDetailPage(product.id)" (mouseover)="changeStyle($event,product.id)" (mouseout)="changeBackStyle($event,product.id)" class="productImage">
            </div>
          </div>
        </div>
      </div>
      <!-- <div class="tabs-panel" id="topSalePanel">
        <div class="grid-x grid-padding-x">
          <div class="small-12 medium-6 large-3 cell image-hover-wrapper">
            <a href="javascript:void(0)">
              <img src="../assets/images/homepage-images/pic3.png" routerLink="/productDetail">
              <span class="image-hover-wrapper-reveal">
                <div>
                  <div>
                    <a routerLink="/productDetail" class="button quickShopBtn">QUICK SHOP</a>
                  </div>
                  <div>
                    <a routerLink="/productDetail" class="button addToCartBtn">ADD TO CART</a>
                  </div>
                </div>
              </span>
            </a>
          </div>
          <div class="small-12 medium-6 large-3 cell image-hover-wrapper">
            <a href="javascript:void(0)">
              <img src="../assets/images/homepage-images/pic4.png" routerLink="/productDetail">
              <span class="image-hover-wrapper-reveal">
                <div>
                  <div>
                    <a routerLink="/productDetail" class="button quickShopBtn">QUICK SHOP</a>
                  </div>
                  <div>
                    <a routerLink="/productDetail" class="button addToCartBtn">ADD TO CART</a>
                  </div>
                </div>
              </span>
            </a>
          </div>
          <div class="small-12 medium-6 large-3 cell image-hover-wrapper">
            <a href="javascript:void(0)">
              <img src="../assets/images/homepage-images/pic1.png" routerLink="/productDetail">
              <span class="image-hover-wrapper-reveal">
                <div>
                  <div>
                    <a routerLink="/productDetail" class="button quickShopBtn">QUICK SHOP</a>
                  </div>
                  <div>
                    <a routerLink="/productDetail" class="button addToCartBtn">ADD TO CART</a>
                  </div>
                </div>
              </span>
            </a>
          </div>
          <div class="small-12 medium-6 large-3 cell image-hover-wrapper">
            <a href="javascript:void(0)">
              <img src="../assets/images/homepage-images/pic2.png" routerLink="/productDetail">
              <span class="image-hover-wrapper-reveal">
                <div>
                  <div>
                    <a routerLink="/productDetail" class="button quickShopBtn">QUICK SHOP</a>
                  </div>
                  <div>
                    <a routerLink="/productDetail" class="button addToCartBtn">ADD TO CART</a>
                  </div>
                </div>
              </span>
            </a>
          </div>
        </div>
      </div>
      <div class="tabs-panel" id="saleOffPanel">
        <div class="grid-x grid-padding-x">
          <div class="small-12 medium-6 large-3 cell image-hover-wrapper">
            <a href="javascript:void(0)">
              <img src="../assets/images/homepage-images/pic1.png" routerLink="/productDetail">
              <span class="image-hover-wrapper-reveal">
                <div>
                  <div>
                    <a routerLink="/productDetail" class="button quickShopBtn">QUICK SHOP</a>
                  </div>
                  <div>
                    <a routerLink="/productDetail" class="button addToCartBtn">ADD TO CART</a>
                  </div>
                </div>
              </span>
            </a>
          </div>
          <div class="small-12 medium-6 large-3 cell image-hover-wrapper">
            <a href="javascript:void(0)">
              <img src="../assets/images/homepage-images/pic3.png" routerLink="/productDetail">
              <span class="image-hover-wrapper-reveal">
                <div>
                  <div>
                    <a routerLink="/productDetail" class="button quickShopBtn">QUICK SHOP</a>
                  </div>
                  <div>
                    <a routerLink="/productDetail" class="button addToCartBtn">ADD TO CART</a>
                  </div>
                </div>
              </span>
            </a>
          </div>
          <div class="small-12 medium-6 large-3 cell image-hover-wrapper">
            <a href="javascript:void(0)">
              <img src="../assets/images/homepage-images/pic2.png" routerLink="/productDetail">
              <span class="image-hover-wrapper-reveal">
                <div>
                  <div>
                    <a routerLink="/productDetail" class="button quickShopBtn">QUICK SHOP</a>
                  </div>
                  <div>
                    <a routerLink="/productDetail" class="button addToCartBtn">ADD TO CART</a>
                  </div>
                </div>
              </span>
            </a>
          </div>
          <div class="small-12 medium-6 large-3 cell image-hover-wrapper">
            <a href="javascript:void(0)">
              <img src="../assets/images/homepage-images/pic4.png" routerLink="/productDetail">
              <span class="image-hover-wrapper-reveal">
                <div>
                  <div>
                    <a routerLink="/productDetail" class="button quickShopBtn">QUICK SHOP</a>
                  </div>
                  <div>
                    <a routerLink="/productDetail" class="button addToCartBtn">ADD TO CART</a>
                  </div>
                </div>
              </span>
            </a>
          </div>
        </div>
      </div> -->
    </div>
  </div>
  <div class="grid-x align-center">
    <div class="small-10 medium-6 text-center cell subscriberBoxContainer">
      <span class="subscriberBoxInnnerContainer">GET TO KNOW US!</span>
      <div class="signUpTextContainer">
        Sign up for our newsletter and be the first to learn about our collections, special offers and events.
      </div>
      <div class="input-group">
        <input type="text" class="input-group-field subscriberEmail" name="email" placeholder="Enter your email..." [(ngModel)]="subscribeEmail">
        <div class="input-group-button">
          <input type="submit" class="button subscriberEmailBtn" value="Subscribe" (click)="onSubscribe()">
        </div>
      </div>
      <div class="messageContainer" *ngIf="subscribeMessage && subscribeOn">
        <div class="messageStyle">{{subscribeMessage}}</div>
      </div>
    </div>
  </div>
  <div class="grid-x">
    <div class="instagramPhotoSection">
    </div>
  </div>
<app-footer [isUserLoggedInFromHeader]="isUserLoggedInFromHeader"></app-footer>

<!-- <script type="text/javascript">
  $(document).foundation();
</script> -->