<app-info-header></app-info-header>
<div class="grid-container">
	<div class="grid-x">
		<div class="small-12 cell">
			<div class="faqCompanyHeader">
				<ul class="accordion" data-accordion data-allow-all-closed="true">
					<li class="accordion-item" data-accordion-item>
						<a href="#" class="accordion-title">Do you ship outside India?</a>
						<div class="accordion-content" data-tab-content>
							Yes, we are shipping outside India. Currently, we are shipping our products to U.S., U.K., U.A.E, Australia, Oman, Malaysia, and Singapore.
						</div>
					</li>

					<li class="accordion-item" data-accordion-item>
						<a href="#" class="accordion-title">What is the cost of shipping?</a>
						<div class="accordion-content" data-tab-content>
							Shipping for all orders amounting for a total of Rs. 2199/- or more within India is free. If your order amount is less than Rs. 2199/-, a minimal delivery fee of Rs. 100 shall be charged to your bill. 
							For all international orders from outside India, orders under USD 500 are charged USD 30 and orders above USD 500 are shipped free.
						</div>
					</li>

					<li class="accordion-item" data-accordion-item>
						<a href="#" class="accordion-title">What are your payment terms? Is Cash on Delivery available on orders?</a>
						<div class="accordion-content" data-tab-content>
							Cash on Delivery is available only on domestic orders and for the orders amounting to a total of Rs. 2199 or more. Cash on Delivery is unavailable for international orders and for domestic orders below Rs. 2199.
						</div>
					</li>

					<li class="accordion-item" data-accordion-item>
						<a href="#" class="accordion-title">How long will my order take to reach me?</a>
						<div class="accordion-content" data-tab-content>
							For Domestic Orders: From the day of order placement, it will take approximately 7-12 working days for the order to reach you.
							For International Orders: From the day of order placement, it will take approximately 12-15 working days for the order to reach you.  However, in case of multiple orders, your items may arrive in multiple shipments. Please note, the customs and taxes are chargeable as per country’s actual duty at the time of delivery and are payable by the client only. 
							P.S. The delivery times and period are only indicative, and, Dorcee doesn’t hold any responsibility for the unavoidable delays in order shipments that are beyond our control. However, in case of such unexpected delays, we will keep you informed. 
						</div>
					</li>

					<li class="accordion-item" data-accordion-item>
						<a href="#" class="accordion-title">After you have shipped my order, how do I track it?</a>
						<div class="accordion-content" data-tab-content>
							For domestic orders, the customer will receive an email with complete details on the courier company, tracking number and the processing time after you have placed your order with DORCEE. You can track the status of your package 24 hours after your order is dispatched from our warehouse.  
						</div>
					</li>

					<li class="accordion-item" data-accordion-item>
						<a href="#" class="accordion-title">What can I do if my order dispatch is delayed?</a>
						<div class="accordion-content" data-tab-content>
							While we make sure that your order reaches you in estimated delivery time, in times of any unexpected or unavoidable delays, please contact us on +91-9967758592 or write to us at contact@dorcee.com and we will try our best to resolve your issues.
							For domestic orders within India, if we are unable to deliver your order in 20 days due to any reasons, it shall be deemed canceled.
							Please note that even the express shipping orders can take up to 3 business days to reach your location within India.
						</div>
					</li>

					<li class="accordion-item" data-accordion-item>
						<a href="#" class="accordion-title">If I place an order from outside India, what are the terms of customs’ charges & duties?</a>
						<div class="accordion-content" data-tab-content>
							In case, of the International orders, the customs and duties as specified by the country in question are liable to be paid by the customer. Dorcee is under no responsibility to determine the validity of customs and duties for the products that you have ordered. Even if the customs and duties are applicable, we cannot estimate the charges before or after the order. 
						</div>
					</li>
					<h2>COURIER/SHIPPING</h2>
					<p>The delivery process takes about 6-8 business days. Please note that the delivery time does not include payment verification and other managerial processes.</p>
					<p>We know you’d love to have your product as soon as possible. So, we make sure that the item is dispatched within 48 hours of payment verification. This process does not count the weekends and public holidays.</p>
					<p>Upon the receipt of the package, the receiver must sign the package at the door. </p>
					<p>In case of the absence of an individual, we understand work-home timing conflicts, our delivery team will make two more attempts of redelivery. The courier personnel shall schedule the redelivery based on a prior conversation with the receiver.</p>
					<p>Once the order is shipped, a detailed message with the credentials of the courier company, as well as the tracking number will be shared with the client for their reference. At this point, the customer must at all costs follow up with the courier company so get the exact status of the order, as well as the current location of that time.</p>
					<h2>MAILING HOURS</h2>
					<p>Processing and packaging of all orders are only done during the operation hours. The official timings are from 10.30 am to 6.30 pm. Kindly note that we are the company with 5-day of working, i.e., from Monday to Friday, so the entire process shall be carried forward within the given time frame. The operation team is also inactive during public holidays.</p>
					<h2>Cancellation Terms & Policies</h2>
					<li>What is Dorcee’s Cancellation Policies?</li>
					Only Cash on Delivery Order is eligible for cancellations. An order can only be canceled within 24 hours of ordering. 
					The cancellation cannot be done directly through the website and has to be requested over a mail or through a call. In case you want to cancel your order, please call us on +91-9967758592 or write to us at contact@dorcee.com  & request a cancellation. 
					Please note that Prepaid Orders are not eligible for cancellation.
					(By choosing to order and to cancel the order thereafter, the customer accepts and agrees to Dorcee’s Cancellation Policies and agrees not to dispute the decision made by Dorcee for the same.)
					<li>My order was canceled by Dorcee. Why?</li>
					Dorcee reserves the sole right to cancel your order due to any reasons. Some of the reasons for the order cancellation from Dorcee’s end are stated below:
						Your orders may get canceled due to inaccuracies in pricing of product on the website, stock unavailability, problems identified by our credit and fraud avoidance department.

						In case of failure to contact you by phone and/or deliver your order after a maximum of two attempts, Dorcee reserves the right to cancel the order(s) at its discretion.

						Failure to provide additional verification or information while placing the order.

						In case, the delivery address is not covered under our delivery zone.

						Cancellation of order(s) due to reasons beyond our control.

					However, if your order is canceled after your credit card has been charged with the order amount, the full amount will be reversed back in your account.
					(By choosing to order, the customer accepts and agrees to Dorcee’s Cancellation Policies and agrees not to dispute the decision made by Dorcee for the same.)
				</ul>
			</div>
		</div>
	</div>
</div>
<app-footer></app-footer>