@import '../../../assets/foundation-sites/global';

.homePageAboutHeader, .homePageLoginHeader {
	display: flex;
	align-items: center;
}
.homePageLoginHeader {
	justify-content: flex-end;
}
.homepageHeading {
	padding-right: rem-calc(15);
	cursor: pointer;
  outline: none;
}
.currencyWeb, .userLogin {
	padding-right: rem-calc(15);
}
.brandLogo:focus {
	outline: none;
}
