@import '../../../assets/foundation-sites/global';

.homePageAboutHeader, .homePageLoginHeader {
	display: flex;
	align-items: center;
}
.homePageLoginHeader {
	justify-content: flex-end;
}
.homepageHeading {
	padding-right: rem-calc(15);
	cursor: pointer;
    outline: none;
    color:#0A0A0A;
  
    &:hover {
  		color: $primary-color;
  	}
}

.customTab {
	z-index: 10000;
}

.brandLogo:focus {
	outline: none;
}

.cartItemsContainer {
	position : relative;	
}

.cartItems {
	position: absolute;
    right: rem-calc(0);
    top: rem-calc(18);
    background: $primary-color;
    color: $white;
    font-size: rem-calc(10);
    padding: rem-calc(2 6);
    border-radius: 50%;
}
@include breakpoint(small only) {
  .homepageHeading {
    font-size: rem-calc(10);
  }
  .nameHover {
    padding-right: 0;
  }
  .userLogin ul li a.userLoginInner {
    padding-left: 0;
  }
  .currencyWeb {
    padding-right: rem-calc(5);
  }
}