<app-login (userLoggingIn)="gettingUserLoggedIn($event)"></app-login>
<div class="grid-container">
	<div class="grid-x grid-padding-y">
		<div class="small-3 medium-4 cell homePageAboutHeader">
			<span class="homepageHeading" routerLink="/productCategory">SHOP</span>
			<span class="homepageHeading hide-for-small-only"> ABOUT</span>
			<span class="homepageHeading hide-for-small-only" routerLink="/dorcee_official">@dorcee_official</span>
		</div>
		<div class="small-5 medium-4 cell text-center">
			<img src="assets/images/dorceeLogo.svg" class="brandLogo" alt="Company Logo" routerLink="/" width="175">
		</div>
		<div class="small-4 cell text-right homePageLoginHeader">

			<ul class="dropdown menu" data-dropdown-menu id="locTypeDropDown">
			  <li>
			    <a class="currencyWeb homepageHeading">{{ locType}}</a>
			    <ul class="menu customTab">
			      <li><a (click)="leftLocTypeClick(leftLocType)">{{leftLocType}}</a></li>
			    </ul>
			  </li>
			</ul>
			
			<span class="userLogin homepageHeading nameHover" id="nameDropDown">	
	 			<ul class="dropdown menu" data-dropdown-menu>
	        <li *ngIf="!isUserLoggedIn">
	      		<span class="userLogin homepageHeading" data-open="loginModal">Login</span>
	        </li>
	        <li>
	        	<!-- <a class="userLogin homepageHeading" *ngIf="isUserLoggedIn">{{userDetails.fname}} {{userDetails.lname}}</a> -->
	        	<a class="userLogin homepageHeading userLoginInner" *ngIf="isUserLoggedIn">{{userDetails.fname}}</a>
	        	<ul class="menu customTab">
	          		<li><a routerLink="/myAccount/profile" *ngIf="isUserLoggedIn">My Account</a></li>
	          		<li><a (click)="logOut()" *ngIf="isUserLoggedIn">Log Out</a></li>
	        	</ul>
	      	</li>
		    </ul>
	    </span>

	    <span class="cartItemsContainer" *ngIf="cartItemsLength > 0 && isUserLoggedIn" routerLink="/checkout">
				<img src="assets/images/emptyShoppingBagBlack.svg" alt="Basket" width="30px">
				<div class="cartItems">{{cartItemsLength}}</div>
			</span>
		</div>
	</div>
</div>
