<app-login (userLoggingIN)="gettingUserLoggedIn()"></app-login>
<div class="grid-container">
	<div class="grid-x grid-padding-y">
		<div class="small-4 cell homePageAboutHeader">
			<span class="homepageHeading" routerLink="/productCategory">SHOP</span>
			<span class="homepageHeading hide-for-small-only"> ABOUT</span>
			<span class="homepageHeading" routerLink="/dorcee_official">@dorcee_official</span>
		</div>
		<div class="small-4 cell text-center">
			<img src="assets/images/dorceeLogo.svg" class="brandLogo" alt="Company Logo" routerLink="/" width="175">
		</div>
		<div class="small-4 cell text-right homePageLoginHeader">
			<span class="currencyWeb homepageHeading">INR</span>
			<!-- <span class="" data-open="loginModal">Login</span> -->
			

			<span class="userLogin homepageHeading nameHover">	
	 			<ul class="dropdown menu" data-dropdown-menu>
			      <li>
			      	<span class="userLogin homepageHeading" data-open="loginModal" *ngIf="!isUserLoggedIN">Login</span>
			      </li>
			      <li>
			        <a class="userLogin homepageHeading" href="#Item-2" *ngIf="isUserLoggedIN">{{userDetails.fname}} {{userDetails.lname}}</a>
			        <ul class="menu customTab">
			          <li><a routerLink="/myAccount/profile">My Account</a></li>
			          <li><a (click)="logOut()">Log Out</a></li>
			        </ul>
			      </li>
			    </ul>
		    </span>
			<!-- <span class="userLogin homepageHeading nameHover" *ngIf="userDetails">{{userDetails.fname}} {{userDetails.lname}}</span> --> <!-- TODO : show a dropdown for my account or goto myaccount screen -->
			<!-- <ul class="dropdown menu" data-dropdown-menu>
				<li>
					<a data-options="data-disable-hover:true" data-dropdown="drop" *ngIf="userDetails">Link Dropdown &raquo;</a>
					<ul class="menu customTab" data-dropdown-menu style="display: block;" id="drop">
					  <li><a href="#">This is a link</a></li>
					  <li><a href="#">This is another</a></li>
					  <li><a href="#">Yet another</a></li>
					</ul>		
				</li>
			</ul> -->
			

			<!-- <span class="userLogin homepageHeading nameHover" *ngIf="userDetails">{{userDetails.fname}} {{userDetails.lname}}</span> -->

			<!-- <button class="dropdown dropdownBtn" data-open="tabsList" (click)="tab=0" *ngIf="userDetails">{{userDetails.fname}} {{userDetails.lname}}</button>
		  	<div [ngStyle]="{'display':tab=='1' ? 'none' : 'block' }">
		  		<div class="dropdown-pane tabsPanel" id="tabsList" data-dropdown data-close-on-click="true" aria-hidden="true">
			  		<ul class="tabs tabsContainer vertical" data-tabs id="myAccountTabs">
				      <li class="tabs-title tabs-title-category is-active" (click)="tab=1">
				        <a href="#myOrdersPanel" class="tabLink" (click)="moveToMyOrders()" aria-selected="true">My Orders</a>
				      </li>
				      <li class="tabs-title tabs-title-category" (click)="tab=1">
				        <a href="#profilePanel" class="tabLink" (click)="moveToProfile()">Profile</a>
				      </li>
				      <li class="tabs-title tabs-title-category" (click)="tab=1">
				        <a href="#addressesPanel" class="tabLink" (click)="moveToAddresses()">Addresses</a>
				      </li>
				    </ul>	
			  	</div>	
		  	</div> 
 -->
			


			<img src="assets/images/emptyShoppingBagBlack.svg" alt="Basket" width="30px" routerLink="/checkout">
		</div>
	</div>
</div>