<div #loading>
  <app-loader></app-loader>
</div>

<div class="grid-container">
	<div class="grid-x grid-padding-x">
    <div class="small-12 cell">
      
      <div class="myAccountOrderOuterContainer" *ngFor="let allOrders of myOrdersArray| keyvalue; let index = index">
        <div class="orderStatusContainer">
          <div class="orderStatus"><strong>Delivered</strong></div>
          <div>Order Number: {{index +1}}</div>
          <div>Ordered on {{allOrders.value[0].order_date | date}} / {{ (allOrders.value[0].loc_type==indian_location) ? 'RS.' : '$' }} {{allOrders.value[0].total_amount}} / {{allOrders.value.length}} items</div>
        </div>

        <div class="grid-x grid-padding-x hide-for-small-only orderDetailContainer" *ngFor="let orders of allOrders.value">
          <div class="medium-2 cell">
            <img class="productImage" src={{orders.main_image}} alt="product_image">
          </div>
          <div class="medium-4 cell">
            <div class="myOrdersProductName">
                {{orders.name}}        
            </div> 
          </div>
          <div class="medium-2 cell">
            <div class="myOrdersProductPrice">
               {{ (orders.loc_type==indian_location) ? 'RS.' : '$' }} {{orders.price}}
            </div>
          </div>
          <div class="medium-4 cell">  
            <div class="myOrdersDeliveredDate">Delivered on Thu, May 20th'19</div>  
            <!-- //TODO: need to change according to delivery date-->
            <div class="myOrdersReturnPolicy">Return Policy ended on May 29th'19</div>
          </div>
        </div>

        <div class="grid-x grid-padding-x show-for-small-only orderDetailContainer" *ngFor="let orders of allOrders.value">
          <div class="small-3 cell">
            <img class="productImage" src={{orders.main_image}} alt="product_image">
          </div>
          <div class="small-9 cell myOrdersContent">
            <div class="row">
              <div class="myOrdersContent">
                  {{orders.name}}        
              </div> 
            </div>
            <div class="row">
              <div class="myOrdersContent">
                  {{ (orders.loc_type==indian_location) ? 'RS.' : '$' }} {{orders.price}}
              </div>
            </div>
            <div class="row">  
              <div class="myOrdersContent">Delivered on Thu, May 20th'19</div>
              <!-- //TODO: need to change according to delivery date-->
              <div class="myOrdersReturnPolicy myOrdersContent">Return Policy ended on May 29th'19</div>
            </div>
          </div>          
        </div>

      </div>
    
    </div>        
	</div>
</div>