<div class="grid-container">
		   				<div class="grid-x grid-padding-x">

				            <div class="card">
				                <div class="card-section">
				                    <div class="">
				                        <div class="orderStatus"><strong>Delivered</strong></div>
				                        <div>Order Number: 1</div>
				                        <div>Ordered on May 16,2018 / Rs.2000 / 2 items</div>
				                    </div>
				                    <Hr>
				                </div>
				                <div class="card-section">
				                    <div class="deliveryDetailOfMyOrders">
				                        <div class="grid-container">
				                            <div class="grid-x grid-padding-x">
				                                <div class="small-3 medium-2">
				                                    <span><img src="../../../assets/images/productClips/pic1.jpeg" alt="product_image"></span>
				                                </div>
				                                <div class="small-6 medium-4">
				                                    <span class="myOdrdersProductName">Double Layered Printed Shirt</span>
				                                </div>
				                                <div class="small-3 medium-2">
				                                    <span class="myOrdersProductPrice">Rs. 800</span>
				                                </div>
				                                <div class="small-8 medium-4">  
				                                    <div class="myOrdersDeliveredDate">Delivered on Thu, May 20th'19</div>
				                                    <div class="myOrdersReturnPolicy">Return Policy ended on May 29th'19</div>
				                                </div>                                            
				                            </div>
				                        </div>
				                    </div>

				                    <div class="deliveryDetailOfMyOrders">
				                        <div class="grid-container">
				                            <div class="grid-x grid-padding-x">
				                                <div class="small-3 medium-2">
				                                    <span><img src="../../../assets/images/productClips/pic1.jpeg" alt="product_image"></span>
				                                </div>
				                                <div class="small-6 medium-4">
				                                    <span class="myOdrdersProductName">Double Layered Printed Shirt</span>
				                                </div>
				                                <div class="small-3 medium-2">
				                                    <span class="myOrdersProductPrice">Rs. 1200</span>
				                                </div>
				                                <div class="small-8 medium-4">  
				                                    <div class="myOrdersDeliveredDate">Delivered on Thu, May 20th'19</div>
				                                    <div class="myOrdersReturnPolicy">Return Policy ended on May 29th'19</div>
				                                </div>                                            
				                            </div>
				                        </div>
				                    </div>            
				                </div>
				            </div>        

				            <div class="card">
				                <div class="card-section">
				                    <div class="">
				                        <div class="orderStatus"><strong>Delivered</strong></div>
				                        <div>Order Number: 1</div>
				                        <div>Ordered on May 16,2018 / Rs.2000 / 2 items</div>
				                    </div>
				                    <Hr>
				                </div>
				                <div class="card-section">
				                    <div class="deliveryDetailOfMyOrders">
				                        <div class="grid-container">
				                            <div class="grid-x grid-padding-x">
				                                <div class="small-3 medium-2">
				                                    <span><img src="../../../assets/images/productClips/pic1.jpeg" alt="product_image"></span>
				                                </div>
				                                <div class="small-6 medium-4">
				                                    <span class="myOdrdersProductName">Double Layered Printed Shirt</span>
				                                </div>
				                                <div class="small-3 medium-2">
				                                    <span class="myOrdersProductPrice">Rs. 800</span>
				                                </div>
				                                <div class="small-8 medium-4">  
				                                    <div class="myOrdersDeliveredDate">Delivered on Thu, May 20th'19</div>
				                                    <div class="myOrdersReturnPolicy">Return Policy ended on May 29th'19</div>
				                                </div>                                            
				                            </div>
				                        </div>
				                    </div>            
				                </div>
				            </div>        

				            <div class="card">
				                <div class="card-section">
				                    <div class="">
				                        <div class="orderStatus"><strong>Returned</strong></div>
				                        <div>Order Number: 1</div>
				                        <div>Ordered on May 16,2018 / Rs.2000 / 2 items</div>
				                    </div>
				                    <Hr>
				                </div>
				                <div class="card-section">
				                    <div class="deliveryDetailOfMyOrders">
				                        <div class="grid-container">
				                            <div class="grid-x grid-padding-x">
				                                <div class="small-3 medium-2">
				                                    <span><img src="../../../assets/images/productClips/pic1.jpeg" alt="product_image"></span>
				                                </div>
				                                <div class="small-6 medium-4">
				                                    <span class="myOdrdersProductName">Double Layered Printed Shirt</span>
				                                </div>
				                                <div class="small-3 medium-2">
				                                    <span class="myOrdersProductPrice">Rs. 800</span>
				                                </div>
				                                <div class="small-8 medium-4">  
				                                    <div class="myOrdersDeliveredDate">Delivered on Thu, May 20th'19</div>
				                                    <div class="myOrdersReturnPolicy">Return Policy ended on May 29th'19</div>
				                                </div>                                            
				                            </div>
				                        </div>
				                    </div>            
				                </div>
				            </div>

	  					</div>
					</div>