<app-info-header></app-info-header>
<div class="grid-container">
	<div class="grid-x">
		<div class="small-12 cell">
			<div class="faqCompanyHeader">
				<ul class="accordion" data-accordion data-allow-all-closed="true">
					<li class="accordion-item" data-accordion-item>
						<a href="#" class="accordion-title">Do you ship outside India?</a>
						<div class="accordion-content" data-tab-content>
							<p>Yes, we are shipping outside India. Currently, we are shipping our products to U.S., U.K., U.A.E, Australia, Oman, Malaysia, and Singapore.</p>
						</div>
					</li>

					<li class="accordion-item" data-accordion-item>
						<a href="#" class="accordion-title">What is the cost of shipping?</a>
						<div class="accordion-content" data-tab-content>
							Shipping for all orders amounting for a total of Rs. 2199/- or more within India is free. If your order amount is less than Rs. 2199/-, a minimal delivery fee of Rs. 100 shall be charged to your bill. 
							For all international orders from outside India, orders under USD 500 are charged USD 30 and orders above USD 500 are shipped free.
						</div>
					</li>

					<li  class="accordion-item" data-accordion-item>
						<a href="#" class="accordion-title">What are your payment terms? Is Cash on Delivery available on orders?</a>
						<div class="accordion-content" data-tab-content>
							Cash on Delivery is available only on domestic orders and for the orders amounting to a total of Rs. 2199 or more. Cash on Delivery is unavailable for international orders and for domestic orders below Rs. 2199.
						</div>
					</li>

					<li class="accordion-item" data-accordion-item>
						<a href="#" class="accordion-title">How long will my order take to reach me?</a>
						<div class="accordion-content" data-tab-content>
							For Domestic Orders: From the day of order placement, it will take approximately 7-12 working days for the order to reach you.
							For International Orders: From the day of order placement, it will take approximately 12-15 working days for the order to reach you.  However, in case of multiple orders, your items may arrive in multiple shipments. Please note, the customs and taxes are chargeable as per country’s actual duty at the time of delivery and are payable by the client only. 
							P.S. The delivery times and period are only indicative, and, Dorcee doesn’t hold any responsibility for the unavoidable delays in order shipments that are beyond our control. However, in case of such unexpected delays, we will keep you informed. 
						</div>
					</li>

					<li class="accordion-item" data-accordion-item>
						<a href="#" class="accordion-title">After you have shipped my order, how do I track it?</a>
						<div class="accordion-content" data-tab-content>
							For domestic orders, the customer will receive an email with complete details on the courier company, tracking number and the processing time after you have placed your order with DORCEE. You can track the status of your package 24 hours after your order is dispatched from our warehouse.  
						</div>
					</li>

					<li class="accordion-item" data-accordion-item>
						<a href="#" class="accordion-title">What can I do if my order dispatch is delayed?</a>
						<div class="accordion-content" data-tab-content>
							While we make sure that your order reaches you in estimated delivery time, in times of any unexpected or unavoidable delays, please contact us on +91-9967758592 or write to us at contact@dorcee.com and we will try our best to resolve your issues.
							For domestic orders within India, if we are unable to deliver your order in 20 days due to any reasons, it shall be deemed canceled.
							Please note that even the express shipping orders can take up to 3 business days to reach your location within India.
						</div>
					</li>

					<li class="accordion-item" data-accordion-item>
						<a href="#" class="accordion-title">If I place an order from outside India, what are the terms of customs’ charges & duties?</a>
						<div class="accordion-content" data-tab-content>
							In case, of the International orders, the customs and duties as specified by the country in question are liable to be paid by the customer. Dorcee is under no responsibility to determine the validity of customs and duties for the products that you have ordered. Even if the customs and duties are applicable, we cannot estimate the charges before or after the order. 
						</div>
					</li>

					<li class="accordion-item" data-accordion-item>
						<a href="#" class="accordion-title">How do I return my order on Dorcee and demand a refund? </a>
						<div class="accordion-content" data-tab-content>
							Unfortunately, as per our company policy, we do not provide refund/return on sold products yet.
						</div>
					</li>

					<li class="accordion-item" data-accordion-item>
						<a href="#" class="accordion-title">My garment does not fit me. What can I do?</a>
						<div class="accordion-content" data-tab-content>
							If the product does not fit and if the product is eligible for exchange, you can request for a size exchange with the customer service team within 48 hours of receiving the product. you may call on our customer care number at +91-9967758592 or write to us at contact@dorcee.com.
							Our team will try its best to help you with any size exchanges, alterations subject to availability. In case the size you have requested is not available we will offer you the option to get credit note which you can redeem on your next order from our website. The exchange policy is only applicable to domestic orders and we do not offer an exchange on any order shipped outside India.
							Note: The shipping/COD charges to and from will be borne by the customer. Hence, the same shall be deducted from the Credit Note amount; i.e. the Credit Note issued will be the amount of the exchanged product minus the shipping/COD cost of to & from. The Credit Note is valid for 20 days from the date of receipt over the mail and can be redeemed on your next order from our website only.
						</div>
					</li>

					<li class="accordion-item" data-accordion-item>
						<a href="#" class="accordion-title">I have requested for order exchange. How long will the process take?</a>
						<div class="accordion-content" data-tab-content>
							After you have requested a product exchange over email or phone, you’ll be notified of the product pickup from your delivery address. 
							Usually, it takes 2-3 working days (after your request has been received) for the courier partners to pick up your exchange order. Please ensure that the product is securely packed with all items of exchange with original packing.
							Please Note: If you miss your return pickup, one more attempt will be made to pick up your return package on the following business day. After the second failed attempt, the return request will be canceled.
							After we receive your return, we will proceed with the exchange inspection check and validation. Once the exchange has been approved, we will initiate the exchange order and notify you via email or phone.
							The product can only be exchanged for a different size or garment once per order.
						</div>
					</li>
					<li class="accordion-item" data-accordion-item>
						<a href="#" class="accordion-title">In case the desired size of the garment requested for an exchange is unavailable, how will I receive the credit note?</a>
						<div class="accordion-content" data-tab-content>
							You shall receive the credit note through email.  As per our exchange policy mentioned above, the shipping/COD charges to and from will be borne by the customer. Hence, the same shall be deducted from the Credit Note amount; i.e. the Credit Note issued will be the amount of the exchanged product minus the shipping/COD cost of to & from. The Credit Note is valid for 20 days from the date of receipt over the mail and can be redeemed on your next order from our website only.
						</div>
					</li>

					<li class="accordion-item" data-accordion-item>
						<a href="#" class="accordion-title">Can I exchange a part of my order?</a>
						<div class="accordion-content" data-tab-content>
							Yes, you can exchange any products that are eligible for exchange. The exchange policy is mentioned for every product and therefore, some items are not exchangeable.
						</div>
					</li>
					<li class="accordion-item" data-accordion-item>
						<a href="#" class="accordion-title">Why my exchange is not accepted?</a>
						<div class="accordion-content" data-tab-content>
							Customer Satisfaction is the ultimate goal of Dorcee and we try to make your shopping experience a pleasant and seamless one. We are committed to providing high-quality products and ensure its secure delivery. However, in case of exchanges, we have a stringent company policy and in case, your exchange has been rejected, please consider the following points:
							Dorcee has a detailed product description of the fabric material and the color for the customer to go through in order to ensure informed decisions while ordering. In case of any additional information, the customer can call on our Customer care number. Therefore, the exchange shall not be accepted in case the customer is dissatisfied with the material or color of the dress. There may be a variation of 10-12%  in the color of the product because of the difference in the screen resolution and lights, making it an invalid reason for return or exchange.
							Exchange/Return will be rejected and returned in case, the product is found damaged, washed, worn, or is missing part(s) of the exchange products.
							Any items on sale, discount, or purchased using any promo code, coupons, or gift vouchers CANNOT be returned, refunded or exchanged.

							Important Note: In case the pickup is unavailable in your area or for urgent exchange orders, the customer has to deliver the product themselves to our warehouse address which is as follows:
							Dorcee
							K-6 Ashok Marg C-Scheme
							Opp BSNL Office, Jaipur-302001
							Phone no: +91-9967758592
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
<app-footer></app-footer>