<app-info-header></app-info-header>
<div class="grid-container">
	<div class="grid-x">
		<div class="small-12 cell">
			<div class="aboutCompanyHeader">
				A bit about us -
				<p>In the endless desert of Rajasthan, lie millions of stories, each can be told in a riot of vibrant colors. A symbol of cultural preservation in the world, Rajasthan has been beautifully nourishing the age-old art and craft, binding generations in its rich history. </p>
				<p>One such part of history and the constant fascination for the people are the ancient textiles and printing techniques native to Rajasthan.</p>
				<p>An archive for many ancient printing techniques in the world, Rajasthan’s Hand Block prints, Barmeri or Ajrakh prints, Kalamkari, Ikat, a variety of tie and dyes like Bandhani, Lehriya, Mothra, and many others are garnering well-deserved recognition all around the globe.</p>
				<p>A labor-intensive field of work, every piece requires hours of manual labor, intricate handiwork, and an eye for precision. </p>
				<p>The demand for these indigenous printed fashion clothing is seeing a boom not only in the national markets but internationally, too. While it’s noticeably contributing to the economy of the state and country as a whole, the issue of socio-economic exploitation of the artisans has also seen a surge. Unfortunately, the ones at the root of these art forms are not receiving their dues and are coaxed to work tedious hours in poor working conditions.</p>
				<p>A fair-trade practice, better employment opportunities, and a suitable work culture for the artisans became our focus. Also, our mutual passion for everything fashion-inspired us to explore the industry. Hence, Dorcee was conceptualized. </p>
				<p>Grown from the roots of Rajasthan, located in its hotbed, Jaipur, Dorcee aims to transform the way people think about fashion. Aiming to become a catalyst in the movement of promoting and adopting a sustainable and eco-friendly approach towards fashion, we want to reconnect the world with the beauty of natural and handmade things.</p>
			</div>
		</div>
	</div>
</div>
<app-footer></app-footer>