<!-- <span class="" data-open="loginModal">Login</span> -->
<div class="reveal loginModalOuterContainer" id="loginModal" data-reveal>
	<div class="grid-container loginModalContainer">
		<div class="text-center loginHeader">LOGIN</div>
		<form class="loginForm">
			<mat-form-field class="example-full-width">
				<input matInput placeholder="Enter Mobile Number" [formControl]="loginFormControl">

				<mat-error *ngIf="loginFormControl.hasError('required')">
			      Phone number is <strong>required</strong>
			    </mat-error>
			    <mat-error *ngIf="loginFormControl.invalid && loginFormControl.dirty && !loginFormControl.hasError('required')">
			      Phone number is <strong> not valid</strong>
			    </mat-error>
			</mat-form-field>
			<div class="text-center dorceeLoginBtnContainer">
				<button type="submit" (click)="submit()" [disabled]="!loginFormControl.valid" class="button dorceeLoginBtn">LOGIN</button>
			</div>
			<div class="text-center">
				New to dorcee? <span data-close data-open="signUpModal" class="signUpLink">Sign up</span>
			</div>
		</form>
	
		<button class="close-button closeLoginModal" data-close aria-label="Close modal" type="button">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
</div>
<app-sign-up></app-sign-up>