@import '../../../assets/foundation-sites/global';

.loginForm, .loginFormField {
  width: 100%;
}

.reveal.loginModalOuterContainer {
	overflow: visible;
}
.loginModalOuterContainer:focus {
	outline:none;
}
.loginModalContainer {
	padding: rem-calc(30 50);
}
.loginHeader {
	font-size: 28px;
  padding-bottom: rem-calc(15);
}
.dorceeLoginBtnContainer {
	padding-top: rem-calc(20);
}
.dorceeLoginBtn {
	width: 60%;
  border-radius: 20px;
  margin-bottom: rem-calc(10);
}
.link {
	color: $primary-color;
	font-style: italic;
	text-decoration: underline;
  cursor: pointer;

	&:focus {
		outline: none;
	}
}
.closeLoginModal {
	position: absolute;
  top: rem-calc(-14);
  right: rem-calc(-14);
  color: white;
  background-color: #600000;
  border-radius: 25px;
  padding: rem-calc(3 7 5);
  z-index: 9999;
  font-size: rem-calc(20);
}
::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
	color: $primary-color;
}
::ng-deep {
  .mat-form-field-appearance-outline .mat-form-field-outline {
    color: white;
  }
  mat-form-field {
    .mat-hint, input, ::placeholder, .mat-form-field-label {
      color: white;
    }
  }
}