@import '../../../assets/foundation-sites/global';

$tooltipBackground : #808080;

.hidingLoader{
  display:none;
}

::ng-deep .mat-radio-label-content {
	margin-right:rem-calc(15);
}

.inputField {
	width:80%;
}

.inputRadioButton {
	width:80%;	
	margin:0 auto;
}

::ng-deep label {
	color:#808080;	
}

::ng-deep .mat-form-field-appearance-legacy .mat-form-field-wrapper {
	padding-bottom:rem-calc(30);
}

::ng-deep .inputRadioButton {
	padding-bottom:rem-calc(20);	
}

.disabledPhoneNumber {
	background-color:#fefefe;
}

.tooltipShow{
	position:relative;
	display:inline-block;
}
.tooltipText {
  visibility: hidden;
  width: rem-calc(200);
  background-color: $tooltipBackground;
  color: $white;
  text-align: center;
  border-radius: 6px;
  padding: rem-calc(5 0);

  position: absolute;
  z-index: 1;
}

.tooltipShow:hover .tooltipText {
  visibility: visible;
}

.saveBtn {
	margin-top:rem-calc(20);
	margin-right:rem-calc(35);
}