  <div class="grid-x">
    <div class="grid-x grid-padding-y grid-padding-x">
     
      <div class="small-12 medium-6 cell">
      	<label>First Name:
      	<mat-form-field appearance="standard">
			    <!-- <mat-label>First Name</mat-label> -->
			    <input matInput placeholder="First Name" type="text">
			  </mat-form-field>
  			</label>
      </div>

      <div class="small-12 medium-6 cell">
     		<label>Last Name:
      	<mat-form-field appearance="standard">
			    <!-- <mat-label>First Name</mat-label> -->
			    <input matInput placeholder="Last Name" >
			  </mat-form-field>
			</label>
      </div>

      <div class="small-12 medium-6 cell">
      	<label>Gender:
		      <mat-radio-group>
		        <mat-radio-button value="Male">Male</mat-radio-button>
		        <mat-radio-button value="Female">Female</mat-radio-button>
		      </mat-radio-group>
		    </label>  
      </div>

      <div class="small-12 medium-6 cell">
      	<label>Email:
	      	<mat-form-field appearance="standard">
				    <!-- <mat-label>First Name</mat-label> -->
				    <input matInput placeholder="Email" type="email">
				  </mat-form-field>
			</label>
      </div>

      <div class="small-12 medium-6 cell">
      	<label>Number:
      	<mat-form-field appearance="standard">
			    <!-- <mat-label>First Name</mat-label> -->
			    <input matInput placeholder="Number" type="number">
			  </mat-form-field>
			</label>
      </div>

      <div class="small-12 medium-6 cell">
      	<label>Password:	
      	<mat-form-field appearance="standard">
			    <!-- <mat-label>First Name</mat-label> -->
			    <input matInput placeholder="Password" type="password">
			  </mat-form-field>
			</label>
      </div>

    </div>
  </div>    

