<div *ngIf="user_details"> 
  <form [formGroup]="profileForm" (ngSubmit)="editProfile(profileForm)">  
    <div class="grid-x">
      <div class="grid-x grid-padding-y grid-padding-x">
       
        <div class="small-12 medium-6 cell">
          <mat-form-field>
            <input matInput placeholder="First Name" formControlName="firstName">
          </mat-form-field>
        </div>

        <div class="small-12 medium-6 cell">
          <mat-form-field>
            <input matInput placeholder="Last Name" formControlName="lastName">
          </mat-form-field>
        </div>

        <div class="small-12 medium-6 cell">
          <label>Gender</label>
          <mat-radio-group formControlName="gender">
            <mat-radio-button value="Male">Male</mat-radio-button>
            <mat-radio-button value="Female">Female</mat-radio-button>
          </mat-radio-group>
        </div>

        <div class="small-12 medium-6 cell">
          <mat-form-field>
            <input matInput placeholder="Email" formControlName="email">
          </mat-form-field>
        </div>

        <div class="small-12 medium-6 cell">
          <mat-form-field>
            <input matInput placeholder="Number" formControlName="phone_number">
          </mat-form-field>
        </div>

        <div class="small-12 medium-6 cell">
          <!-- <mat-form-field>
            <input matInput type="password" placeholder="Password" appPassword>
          </mat-form-field> -->
          <div *ngIf="!editable">
            <input type="submit" value="Change?">  
          </div>
          <div *ngIf="editable">
            <input type="submit" value="Save">  
          </div>
          
        </div>

      </div>
    </div>    

  </form>  
</div>