<div #loading>
  <app-loader></app-loader>
</div>

<div *ngIf="user"> 
  <form [formGroup]="profileForm">  
    <div class="grid-x">
      <div class="grid-x grid-padding-x">

        <div class="small-12 medium-6 cell text-center">
          <mat-form-field class="inputField">
            <input matInput placeholder="First Name" formControlName="fname" (keyup)="editable=true">
            <mat-error *ngIf="profileForm.controls['fname'].hasError('required')">First Name is required.</mat-error>
          </mat-form-field>
        </div>

        <div class="small-12 medium-6 cell text-center">
          <mat-form-field class="inputField">
            <input matInput placeholder="Last Name" formControlName="lname" (keyup)="editable=true">
            <mat-error *ngIf="profileForm.controls['lname'].hasError('required')">Last Name is required.</mat-error>
          </mat-form-field>
        </div>

        <div class="small-12 medium-6 cell">
          <div class="inputRadioButton">
            <label>Gender</label>
            <mat-radio-group formControlName="gender">
              <mat-radio-button (click)="editable=true" value="Male">Male</mat-radio-button>
              <mat-radio-button (click)="editable=true" value="Femal">Female</mat-radio-button>
            </mat-radio-group>
          </div>
        </div>

        <div class="small-12 medium-6 cell text-center">
          <mat-form-field class="inputField">
            <input matInput placeholder="Email" formControlName="email" (keyup)="editable=true">
            <mat-error *ngIf="profileForm.controls['email'].hasError('email')">Please enter a valid email address.</mat-error>
          </mat-form-field>
        </div>

        <div class="small-12 medium-6 cell text-center">
          <mat-form-field class="inputField">
            <input matInput placeholder="Number" formControlName="phone_number" (keyup)="editable=true" readonly="readonly">
            <mat-error *ngIf="profileForm.controls['phone_number'].hasError('required')">Phone number is required.</mat-error>
            <mat-error *ngIf="profileForm.controls['phone_number'].invalid && profileForm.controls['phone_number'].dirty && !profileForm.controls['phone_number'].hasError('required')">Please enter a valid phone number.</mat-error>
          </mat-form-field>
        </div>

        <!-- <div class="small-12 medium-6 cell text-center">
          <mat-form-field class="inputField">
            <input matInput type="password" placeholder="Password" appPassword>
          </mat-form-field>

          <div>
            <a>Change?</a>  
          </div> 
        </div> -->

        <div *ngIf="editable" class="small-12 medium-6 cell text-right">
            <button class="button saveBtn" (click)="onEditProfile(profileForm)" id="saveProfile">Save</button>
        </div>

      </div>
    </div>    

  </form>  
</div>