<div class="grid-container">
	<div class="grid-x grid-padding-x">
		<div class="small-6">
			<div>Saved Addresses</div>
		</div>
		<div class="small-6">
			<div class="float-right">
				<button class="button hollow customButton">+ Add New Address</button>	
			</div>	
		</div>
	</div>

	<div class="clearfix grid-x grid-padding-x">
		<div class="small-12 medium-6">
			<div class="cardContainer">
				<div class="card">
					<div class="card-section">
					  	<div>Abhilash Bhargava</div>
					  	<div>K-6 Ashok Marg C-Scheme</div>
					  	<div>Opposite BSNL Office</div>
					  	<div>Jaipur - 302001</div>
					  	<div>Mobile - +91-9967758592</div>

						<a class="cardLink" href="">Edit</a>
						<a class="cardLink" href="">Remove</a>
					</div>
				</div>	
			</div>
		</div>
		
	</div>
</div>