@import '../../../assets/foundation-sites/global';

$backgroundColor: #dcdcdc;

.hidingLoader{
  display:none;
}

.customButton {
	border:dashed;
	border-width:rem-calc(2);
}
.addressModalHeader {
  font-size:rem-calc(28);
  padding-bottom: rem-calc(15);
}
.addressFormField {
	width: 100%;
}
.reveal.addressModalOuterContainer {
	overflow: visible;
}
.closeAddressModal {
  position: absolute;
  top: rem-calc(-14);
  right: rem-calc(-14);
  color: white;
  background-color: $primary-color;
  border-radius: 25px;
  padding: rem-calc(3 7 5);
  z-index: 9999;
  font-size: rem-calc(20);
}
.addressModalContainer {
	padding: rem-calc(30 50);
}
.addressCardContainer{
	margin:rem-calc(20 25 20 25);
	padding:rem-calc(10);
	-webkit-box-shadow: 0px 2px 10px 2px rgba(220,220,220,1);
	-moz-box-shadow: 0px 2px 10px 2px rgba(220,220,220,1);
	box-shadow: 0px 2px 10px 2px rgba(220,220,220,1);
}
.addressCardHeader {
	padding:rem-calc(5);
	border-bottom:1px ridge $backgroundColor;
}
.addressCardSection {
	padding:rem-calc(5);
}
.addressCardFooter{
	padding:rem-calc(5);
	border-top:1px ridge $backgroundColor;
}
.cardLink {
	margin-left:rem-calc(10);
	margin-right:rem-calc(10);
	text-decoration : underline;
}