@import '../../../assets/foundation-sites/global';

$border-color: #dcdcdc;

.primaryBtn {
	border-radius: rem-calc(20);
}

.secondaryBtn {
	border-radius: rem-calc(20);
	color: $white;
}

.yourCartContainer {
	text-transform: uppercase;
  padding: 20px 0;
}

.itemDetailContainer {
	padding-left: rem-calc(10);
}

.itemName {
	padding-bottom: rem-calc(5);
}

.itemOriginalPrice {
	color: $discountPriceColor;
	text-decoration: line-through;
}
.itemDiscountedPrice {
	margin: rem-calc(0 10);	
}

.itemDiscountPercent {
	color: #F08078;	
}

.deliveryInfoContainer {
	text-align: center;
	padding-bottom: rem-calc(20);
}

.deliveryMsg {
	vertical-align: bottom;
}

.orderSummaryHeader {
	padding: rem-calc(10 0);	
	border-bottom: 1px solid $border-color;
}

.orderSummaryContentContainer {
  padding: rem-calc(0 20);
  border-bottom: 1px solid $border-color;
}

.orderSummaryContent {
	padding: rem-calc(10 0);
}

.orderSummaryContentResult {
	padding: rem-calc(10 20);	
}

.starConditions {
	padding: rem-calc(0 20 10 0);
}

.yourCartHeader {
	padding-top: rem-calc(50);
  border-bottom: 1px solid $border-color;
  padding-bottom: rem-calc(15);
}
.deliveryTruckContainer {
	margin-right: rem-calc(5);
}
.itemRemoveModifier {
	border-right: 1px solid $border-color;
	padding-right: rem-calc(5);
}
.itemWishlistModifier {
	padding-left: rem-calc(5);
}
.empty-cart-message {
	margin-right: 20px;
    margin-top: 10px;
}
