<div #loading>
  <app-loader></app-loader>
</div>


<app-header></app-header>
<div class="grid-container">
	<div class="grid-x">
		<div class="small-12 cell">
			<span class="sitePath">
				<nav aria-label="You are here:" role="navigation">
				  <ul class="breadcrumbs">
				    <li><a href="#" routerLink="/">Home</a></li>
				    <li><a href="#" routerLink="/productCategory">Products</a></li>
				    <li class="disabled">cart</li>
				  </ul>
				</nav>
			</span>
		</div>
	</div>
	<div class="grid-x grid-padding-x" *ngIf="contentLoaded && (cartItems.length > 0)">
		<div class="small-12 medium-7 large-8 cell">
			<div class="yourCartHeader">Your Cart ({{cartItems.length}} Item)</div>
		</div>
		<div class="small-12 medium-7 large-8 cell">
			<div class="grid-x yourCartContainer">
				<div class="medium-6 large-7 cell">
					<div class="text-center medium-only-text-left">Item Description</div>
				</div>
				<div class="medium-2 large-2 cell">
					<div class="text-center">Quantity</div>
				</div>
				<div class="medium-2 large-1 cell">
					<div class="text-center">Size</div>
				</div>
				<div class="medium-2 large-1 cell">
					<div class="text-center">Fit</div>
				</div>
			</div>
			<div class="grid-x" *ngFor="let cart_item of cartItems; let index=index">
				<div class="medium-6 large-7 cell">
					<div class="grid-x">
						<div class="large-5 show-for-large cell">
							<img *ngIf="cart_item?.product?.main_image" src="{{cart_item.product.main_image}}" alt="Bought Product">
						</div>
						<div class="medium-12 large-7 cell">
							<div class="itemDetailContainer">
								<div class="itemName">{{cart_item.product.name}}</div>
								<div class="itemPriceContainer">
									<!-- <span class="itemOriginalPrice">{{'RS. '+cart_item.product.base_price}}</span> -->
									<span class="itemDiscountedPrice">{{(locType == 'INR' ? 'Rs. ': '$') + cart_item.product.price}}</span>
									<!-- <span class="itemDiscountPercent">50% OFF</span> -->
								</div>
								<div class="itemModifier">
									<span class="itemRemoveModifier" (click)="removeFromCart(index)"><a>Remove</a></span>
									<!-- <span class="itemWishlistModifier"><a>Move to wishlist</a></span> -->
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="medium-2 large-2 cell text-center">
					<div class="text-center">
						<input type="number" value="{{ cart_item.qty }}" (change)="changeQty($event, index)" readonly="readonly">
					</div>
				</div>
				<div class="medium-2 large-1 cell text-center">
					<div class="text-center">{{ cart_item.size }}</div>
				</div>
				<div class="medium-2 large-1 cell text-center">
					<div class="text-center">{{ cart_item.fit_name }}</div>
				</div>
			</div>
		</div>
		<div class="small-12 medium-5 large-4 cell">
			<div class="deliveryInfoContainer">
				<span class="deliveryTruckContainer"><img src="assets/images/deliveryTruck.svg" alt="Delivery Truck"></span>
				<span class="deliveryMsg">Shop for Rs. 1500 or more to get free delivery</span>
			</div>
			<div class="text-center">
				<button class="button secondary expanded secondaryBtn">APPLY COUPON</button>
			</div>
			<div class="orderSummaryHeader">ORDER SUMMARY</div>
			<div>
				<div class="orderSummaryContentContainer">
					<div class="clearfix orderSummaryContent">
						<span class="float-left">Sub Total</span>
						<span class="float-right">{{(locType == 'INR' ? 'Rs. ': '$') + itemTotal}}</span>
					</div>
					<!-- <div class="clearfix orderSummaryContent">
						<span class="float-left">Discount</span>
						<span class="float-right">- Rs. 1000</span>
					</div -->
					<div class="clearfix orderSummaryContent">
						<span class="float-left">Shipping Charges</span>
						<span class="float-right">+ {{(locType == 'INR' ? 'Rs. ': '$') + shippingTotal}}</span>
					</div>
				</div>
				<div class="clearfix orderSummaryContentResult">
					<span class="float-left">Total</span>
					<span class="float-right">{{(locType == 'INR' ? 'Rs. ': '$') + grandTotal }}</span>
				</div>
				<div class="clearfix starConditions">
					<span class="float-right">*GST included</span>
				</div>
				<div class="text-center">
					<button class="button secondary expanded secondaryBtn" routerLink="/productCategory">CONTINUE SHOPPING</button>
				</div>
				<div class="text-center">
					<button class="button expanded primaryBtn" routerLink="/confirmOrder">PROCEED TO PAYMENT</button>
				</div>
			</div>
		</div>
	</div>
	<div class="grid-x grid-padding-x align-center flash-error" *ngIf="contentLoaded && (cartItems.length == 0)">
		<div class="grid-x empty-cart-message">No items added to the cart</div>
		<button class="button secondaryBtn" routerLink="/productCategory">CONTINUE SHOPPING</button>
	</div>
</div>
<app-payment-footer></app-payment-footer>